.tab{

    width: 100px;
    height: 100px;
    background: grey;
    border-radius: 15px;

}
.circle1{
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 15px;
    position: absolute;
    margin-left: 44px;
    margin-top: 80px;
}
.circle4{
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 44px;
}
.circle2{
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 15px;
    position: absolute;
    margin-top: 43px;
    margin-left: 5px;
}
.circle3{
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 15px;
    position: absolute;
    margin-top: 43px;
    margin-left: 80px;
}
.arrow1{
    width: 50px;
    height: 3px;
    background: black;
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
}
.arrow2{
    width: 3px;
    height: 50px;
    background: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
}

